h1{
    color: tomato;
}

#titulo{
    color: brown;
}

.texto{
    color: coral;
    border: 4px red solid
}

p.especial{
    color: slateblue;
}

div p {
    color: gold;
}

div h2, div h3 {
    color: green;
}

* {
    font-size: 24px;
    color: black;
}

.texto{
    border-radius: 5px;
    border-style: outset;
    border-color: brown;
    border-width: 2rem;
}

#fondo{
    background-color: rgba(0, 169, 241, 0.1);
    opacity: 1; 
    background-image: url("../Images/descarga.jfif");
    /* opacity abarca a todo el componente y no solo al fondo*/
    height: 600px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background: red url("../Images/descarga.jfif") repeat-x center center / 100px 200px;
}

/* probar background con proyecto o imagen de codo a codo */


/* Esto es un comentario */

/* Esto es un comentario con muchas lineas
muchas
muchas
 */


 .margen{
     background-color: chocolate;
     margin: 15px;
     padding: 20px 50px;
     border: solid 4px black;
     width: 50px;
     height: 50px;
     overflow: auto;
     outline: solid 10px rgb(255, 0, 0);
}

.text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}


